.form-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

input {
    flex-grow: 1;
    display: inline-block;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 0 solid #28a0ef;
    border-bottom-width: 3px;
    color:#28a0ef;
    margin: 2em 2em 2em 0;
    text-overflow: clip;
    background: #fff;
    font-size: 16px;
}

button {
    border-color: #0199d9;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    color: rgba(255,255,255,1);
    text-overflow: clip;
    background: #0199d9;
}

@media only screen and (max-width: 960px) {
    .form-fields {
        flex-direction: column;
        align-items: inherit;
        margin-bottom: 2em;
    }
    input {
        margin-right: 0;
    }
    button {
        margin: 2em 0;
    }
  }